<article
  [routerLink]="['/details', post().id]"
  class="bg-white shadow-md w-full rounded-lg py-4 md:py-8 overflow-hidden mb-6
         transform transition-all duration-300 hover:-translate-y-1 hover:shadow-xl
         cursor-pointer"
>
  <div class="bg-white w-full flex flex-col md:flex-row md:pr-4">
    <div
      class="flex flex-wrap md:flex-col items-start md:basis-2/12 gap-2 px-4 md:px-0">
      @for (tag of post().post_tags; track tag.tags.id; let i = $index) {
        @if (i < 4) {
          <app-label
            [text]="tag.tags.name"
            [color]="tag.tags.color"
          ></app-label>
        }
      }
    </div>

    <div class="flex flex-col md:basis-10/12 px-6 md:px-0">
      <h2 class="font-bold line-clamp-3 text-xl mt-0 text-center leading-relaxed">
        {{ post().title }}
      </h2>
      <div class="line-clamp-3 xl:line-clamp-4 2xl:line-clamp-5 pt-3 leading-loose">
        {{ post().description }}
      </div>
    </div>
  </div>
</article>
