<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">

            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">{{ modalConfig?.title || '' }}</h3>
              <hr class="h-px w-100 my-1 bg-gray-100 border-0">
              <div class="mt-2 min-h-24">
                {{ modalConfig?.content || '' }}
                <ng-template #dynamicComponentContainer></ng-template>
              </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 btn--group justify-between">
          <div>
            @if(modalConfig?.primaryButton) {
              <button (click)="closeDialog(ModalStatusEnum.ACCEPTED)" type="button" class="btn btn--primary">
                {{ modalConfig?.primaryButton }}
              </button>
            }
          </div>
          <div>
            @if(modalConfig?.secondaryButton) {
              <button (click)="closeDialog(ModalStatusEnum.REJECTED)" type="button" class="btn btn--secondary">
                {{ modalConfig?.secondaryButton }}
              </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
