@defer {
<form class="p-12 flex flex-col gap-2" [formGroup]="blogForm" (ngSubmit)="onSubmit()">
  <div class="w-full flex">
    <input type="text" formControlName="title" placeholder="Title" class="input input-bordered w-full" required/>
  </div>
  @if (blogForm.controls.title.invalid && (blogForm.controls.title.dirty || blogForm.controls.title.touched)) {
  @if (blogForm.controls.title.errors?.['required']) {
    <div>Title is required.</div>
  }
  }
  <button class="btn btn--secondary" type="button" (click)="insertImage()">Insert Image</button>
  <quill-editor #quill formControlName="content" class="h-screen w-full"></quill-editor>
  <div class="mt-12 btn--group">
    <button class="btn btn--primary" type="submit">Submit</button>
    <button class="btn btn--secondary" type="button" (click)="onSubmit(true)">Save as a draft</button>
  </div>
</form>
}
