<div class="mx-auto p-4 pt-5 bg-white shadow-md rounded-lg">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">Wht do you think?</h2>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <textarea
        id="content"
        formControlName="content"
        class="w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-green-950 focus:border-transparent"
        rows="5"
        placeholder="Write your comment here..."
      ></textarea>
    </div>
    <div class="flex justify-end">
      <button
        class="btn btn--primary"
        [disabled]="commentForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
