#navbar {
  position: sticky;
  margin: 0 auto;
  transition: all 0.6s ease-in-out;
  z-index: 10;

  &.scrolled {
    top: 0;
    margin-top: 0;
    width: 100%;
    border-radius: 0;

    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}
