<div class="flex flex-row container mx-auto mt-16 justify-between items-center">
  <div>
    <h1 class="text-4xl font-bold">
      <span>Hi I'm</span>
      <span class="text-secondary"> Łukasz Jabłoński </span>
    </h1>
    <h2 class="text-sm mt-8 w-full md:w-1/2">
      I'm a
      <span class="text-secondary font-bold"> software developer </span>

      with a passion for web technologies. I'm a big fan of
      <span class="text-secondary font-bold"> Angular </span> and I'm always looking for
      new challenges.
    </h2>
  </div>
  <img class="object-cover object-top hidden sm:block" ngSrc="my/photo.webp" priority width="250" height="100">
</div>
