@if (post$ | async; as post) {
  <section class="flex justify-center">
    <div class="w-full lg:w-6/12">
      <img class="w-full h-64 object-cover mt-10" [src]="post.image" alt="{{ post.title }}" />
      <h1 class="text-3xl font-bold text-center my-5">{{ post.title }}</h1>
      <p class="text-center text-gray-500">{{ post.author }} - {{ post.date | date }}</p>
      <!-- TODO: Add social share buttons -->

      <div class="mt-4 leading-8" [innerHTML]="post.content"></div>
      <hr class="border-gray-300 my-4">
      <add-comment [postId]="id" />
      <hr class="border-gray-300 my-4">
      @defer {
        @if (comments$()) {
          <comments *ngIf="comments$()" [comments$]="comments$()" />
        }
      }
    </div>
  </section>
}
